.box {
    width: 200px;
    height: 200px;
    background-color: red;
    animation: na 3s;
    animation-iteration-count: infinite;
    margin-left: 0;
}
@keyframes na {
    0%{transform: translateX(0)}
    25%{transform: translate(calc(100vw - 200px),0)}
    50%{transform: translate(calc(100vw - 200px),calc(100vh - 200px))}
    75%{transform: translate(0,calc(100vh - 200px))}
    100%{transform: translateX(0)}

    }