*{
    box-sizing: border-box;
}
.header{
    display: flex;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    gap:5px;
}
.logo{
    width: 30%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
}
.Banner{
    width: 70%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
}
.nav{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.main{
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
    display: flex;
    gap: 5px
}
.left{
    width: 15%;
}
.left >  ul{
    width: 100%;
    height: 150px;
    border: 1px solid black;
}
.left > div{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}
.mid{
 width: 55%;
}
.mid-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-top > div{
    width: 50%;
    height: 150px;
    align-content: center;
    border: 1px solid black;
    margin-bottom: 5px;
}
.mid-bot{
display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:5px
}
.box{
    width: calc( 33% - 1px);
    height: 200px;
    border: 1px solid black;
}
.right{
    width: 30%;
    border: 1px solid black;
}
.footer{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 10px;
}