body{
    height: 100%;
    background-color: #ddd7c5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 550px;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    margin-top: 50px;
    box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.75);
}
.signup{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 700px;
    background-color: #fbf1dc;
    border-radius: 30px;
}
.title{
    color: #33595e;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: "Comic Sans MS",sans-serif;
    font-weight: bold;
}

.inside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box1{
    margin-bottom: 10px;
    border-radius: 10px;
    width: 300px;
    height: 40px;
}
.btn{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #373b41;
    color: white;
    font-family: "Comic Sans MS",sans-serif;
}
.login{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #33595e;
    width: 600px;
    height: 600px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    top: 430px;
}
.inside-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-login{
    color: #fdf1dd;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: "Comic Sans MS",sans-serif;
    font-weight: bold;
}
.login:hover{
    transform: translateY(-400px);
    transition: 0.6s;
    .title {font-size: 10px}
}
